    <StackLayout row="1" class="border-layout" orientation="horizontal">
        <Button text="&#xf015;" width="25%"  class="font-awesome" (tap) = "navigate('home')"></Button>
        <Button text="&#xf073;" width="25%"  class="font-awesome" (tap) = "navigate('calendar')"></Button>
        <Button text="&#xf086;" width="25%"  class="font-awesome"></Button>
        <Button text="&#xf013;" width="25%"  class="font-awesome" (tap) = "navigate('settings')"></Button>
        <!--<Button textWrap="true" width="25%" >
            <FormattedString>
                <Span text="&#xf015;&#x000d;" class="font-awesome"></Span>
                <Span text="Home"></Span>
            </FormattedString>
        </Button>
        <Button textWrap="true" width="25%" >
            <FormattedString>
                <Span text="&#xf073;&#x000d;" class="font-awesome"></Span>
                <Span text="Calendar"></Span>
            </FormattedString>
        </Button>
        <Button textWrap="true" width="25%" >
            <FormattedString>
                <Span text="&#xf086;&#x000d;" class="font-awesome"></Span>
                <Span text="Chat"></Span>
            </FormattedString>
        </Button>
        <Button textWrap="true" width="25%" >
            <FormattedString>
                <Span text="&#xf013;&#x000d;" class="font-awesome"></Span>
                <Span text="Settings"></Span>
            </FormattedString>
        </Button>-->
    </StackLayout>