<GridLayout rows="*,50">
    <ScrollView row="0" class="main-content">
         <StackLayout tkExampleTitle tkToggleNavButton>
            <RadCalendar id="myCalendar"></RadCalendar>   
        </StackLayout>
    </ScrollView>
    <app-tabbedview></app-tabbedview>
    <!--<StackLayout row="1" class="border-layout" orientation="horizontal">
        <Button text="&#xf015;" width="25%"  class="font-awesome"></Button>
        <Button text="&#xf073;" width="25%"  class="font-awesome"></Button>
        <Button text="&#xf086;" width="25%"  class="font-awesome"></Button>
        <Button text="&#xf013;" width="25%"  class="font-awesome"></Button>
        
    </StackLayout>-->
</GridLayout>